/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .topnav {
     background-color: #C2C1B5;
     overflow: hidden;


 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: bold;
     font-size: 100px;
     font-family: 'Amatic SC';
 }

 .topnav p {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: bold;
     font-size: 100px;
    font-family: 'Amatic SC';
 }

 /* Change the color of links on hover */
 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }

 /* Add a color to the active/current link */
 .topnav a.active {
     background-color: #4CAF50;
     color: white;
 }


 body{
   background: url(images/pineapples.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
 }




  p, h2, h3, h4,h5,li, ul, ol {
   font-family: 'Amatic SC';
   color: #5e8b25;
   font-weight: bold;
   font-size: 70px;
 }

  img {
    width: 80%;
    height: auto;
}

h1{
  font-family: 'Amatic SC';
  color: #EBC37C;
  font-weight: bold;
  font-size: 150px;
}

 label {
   font-family: 'Amatic SC';
   color: #484a42;
   font-weight: bold;
   font-size: 70px;

 }

 h6{
   font-family: 'Amatic SC';
   color: #5e8b25;
   font-weight: bold;
   font-size: 110px;
   text-align: center;
 }




 button{
   background-color: #5e8b25;
 }

 .side-bar{
   margin:  auto;
   width: 50%;
 }

input {
  margin: auto;
}


.recipe-tile {
  text-align: right;
  border: 15px;
  border-style: ridge;
  margin-left: 40%;
  margin-right: 30%;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(228, 212, 163, 0.3);
  margin-top: 1%;
  margin-bottom: 50%;
  position: fixed;

}

.liked-tile {
  text-align: center;
  border: 15px;
  border-style: ridge;
  display: grid;
  background-color: rgba(228, 212, 163, 0.3);
  max-width: 3000px;
  min-width: 3000px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.like-buttons {
  font-size: 90px;
  text-align: center;
}

.submitted-recipes{
background-color: rgba(228, 212, 163, 0.3);
margin-right: 10%;
margin-left: 10%;
padding-left: 4%;
padding-right: 4%;
padding-top: 4%;
padding-bottom: 4%;
border: 15px;
border-style: ridge;



}
.like-button {
  float: right;
  padding-right: 20%;
}



.photos {
  float: left;
  padding-bottom: 7%;
}
.food-name{
  text-align: center;
}
