/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 .topnav {
     background-color: #C2C1B5;
     overflow: hidden;
     height: 5%;

 }

 .header{

 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     color: #3F4636;
     text-align: center;
     padding: 14px 16px;
     text-decoration: bold;
     font-size: 20px;
     font-family:'Poppins', sans-serif;
 }

 .topnav p {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: bold;
     font-size: 20px;
    font-family: 'Poppins', sans-serif;
 }


 /* Change the color of links on hover */
 .topnav a:hover {
     background-color: #E4CCA5;
     color: black;
 }

 /* Add a color to the active/current link */
 .topnav a.active {
     background-color: #3F4636;
     color: white;
 }


 body{
   background: url(pineapples.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
 }



  p, h2, h4,li, ul, ol {
   font-family: 'Poppins', sans-serif;
   color: #3F4636;
   font-weight: bold;
   font-size: 30px;
 }

  img {
    width: 30%;
    height: auto;
    margin: auto;
}


h1{
  font-family: 'Poppins', sans-serif;
  color: #3F4636;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #3F4636;
  font-weight: bold;
  font-size: 40px;

}

 label {
   font-family: 'Poppins', sans-serif;
   color: #484a42;
   font-weight: bold;
   font-size: 70px;

 }

 h6{
   font-family: 'Poppins', sans-serif;
   color: #3F4636;
   font-weight: bold;
   font-size: 50px;
   text-align: center;
 }

label {
  font-family: 'Poppins', sans-serif;
  color: #3F4636;
  font-weight: bold;
  font-size: 26px;

}



 button{
   background-color: #5e8b25;
 }

 .side-bar{
   margin:  auto;
   width: 50%;
 }

input {
  margin: auto;
}



.recipe-tile {
  text-align: right;
  border: 15px;
  border-style: ridge;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(228, 212, 163, 0.3);
  margin-top: 1%;
  margin-bottom: 4%;

}

.liked-tile {
  text-align: center;
  border: 15px;
  border-style: ridge;
  display: grid;
  background-color: rgba(228, 212, 163, 0.3);
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.like-buttons {
  font-size: 90px;
  text-align: center;
}

.submitted-recipes{
background-color: rgba(228, 212, 163, 0.3);
margin-right: 15%;
margin-left: 15%;
padding-left: 4%;
padding-right: 4%;
padding-top: 1%;
padding-bottom: 1%;
border: 15px;
border-style: ridge;
margin-bottom: 15%;

}
.like-button {
  float: right;
  padding-right: 20%;
}



.photos {
  float: left;
  padding-bottom: 7%;
}
.food-name{
  text-align: center;
}

.todays-articles {
  border: 1px;
  border-style: ridge;
  padding-right: 2%;
  margin-left: 85%;
  margin-right: 3%;
  text-align: center;
  padding-left: 2%;
  background-color: #f3efee;
  margin-bottom: 5%;
}
