/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body{
   background: url(images/pineapples.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
 }

 .new-recipe{
   text-align: center;
 }


 h1, p, h2, h3, h4,h5,li, ul, ol {
   font-family: 'Amatic SC';
   color: #5e8b25;
   font-weight: bold;
   font-size: 70px;
 }

 label {
   font-family: 'Amatic SC';
   color: #484a42;
   font-weight: bold;
   font-size: 70px;

 }

 h6{
   font-family: 'Amatic SC';
   color: #5e8b25;
   font-weight: bold;
   font-size: 110px;
   text-align: center;
 }

 a {
   font-family: 'Amatic SC';
   color: #5e8b25;
   font-weight: bold;
   font-size: 110px;
 }


 button{
   background-color: #5e8b25;
 }


.todays-articles{
  float: right;
  padding-bottom: 0%;
}

.recipe-tile {
  text-align: right;
  border: 15px;
  border-style: ridge;
  margin-left: 40%;
  margin-right: 30%;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(228, 212, 163, 0.3);
  margin-top: 1%;
  margin-bottom: 50%;
  position: fixed;

}

.liked-tile {
  text-align: right;
  border: 15px;
  border-style: ridge;
  display: grid;
  background-color: rgba(228, 212, 163, 0.3);

}

.like-buttons {
  font-size: 90px;
  text-align: center;
}

.submitted-recipes{
background-color: rgba(228, 212, 163, 0.3);
margin-right: 10%;
margin-left: 10%;
padding-left: 4%;
padding-right: 4%;
padding-top: 4%;
padding-bottom: 4%;
border: 15px;
border-style: ridge;



}
.like-button {
  float: right;
  padding-right: 20%;
}


.side-bar{
  float: left;
  font-size: 10px;
  margin-top: 20%;
  font-family: 'Amatic SC';
  width: 40%;
}

.photos {
  float: left;
  padding-bottom: 7%;
}
.food-name{
  text-align: center;
}
